/* html,
body {
  width: 300px;
  height: 400px;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(36, 36, 36);
} */

body {
  width: 220px;
  font-family: sans-serif;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
}